html, body{
	height:100%;
	margin: 0px;
}

.ui-panel .ui-panel-titlebar{
	background: #DA251C;
	border: 0px;
	color: white;
	text-shadow: none;
	text-align: center;
}

.ui-panel{
	margin: auto;
	flex-direction: row;
	justify-content: center;
	width: 50%;
}

.ui-state-hover, .ui-widget-content .ui-state-hover{
	background: #DA251C;
	color: white;
	border: 0px;
	box-shadow: 0 0 8px #DA251C;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight{
	background: #aaa;
}

.ui-widget-content .ui-inputfield{
	width: 35%;
	text-align: center;
	margin: auto;
	flex-direction: row;
	justify-content: center;
}

.menu .imagens{
	width: 175px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.menu .botao{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 16.5px 16px;
    text-decoration: none;
    font-size: 16px;
    background: #1C1C1C;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 2px solid #DA251C;
    border-right: 2px solid #DA251C;
    cursor: not-allowed;
}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16.5px 16px;
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #DA251C;
}

.menu {
    background-color: #1C1C1C;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu #btSair{
	float: left;
	border-top: 0px;
    border-right: 2px solid #DA251C;
}

.menu #btDist{
	border-top: 0px;
    border-right: 2px solid #DA251C;
	border-left: 0px;
}