html, body{
	height:100%;
	margin: 0px;
}

.center {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu .imagens{
	width: 175px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16.5px 16px;
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #DA251C;
}

.menu {
    background-color: #1C1C1C;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

#form {
	width: 100%;
	height: calc(100% - 50px) ;
	margin: 0px !important;
}

.menu #btSair{
	float: left;
	border-top: 0px;
    border-right: 2px solid #DA251C;
}

.menu #btDist{
	border-top: 0px;
    border-right: 2px solid #DA251C;
	border-left: 0px;
}

.imagens{
	width: 350px;
	heigth: 350px;
}

.ui-widget-content .ui-inputfield{
	background: white !important;
	color: black !important;
}

.aulasFormadas {
	border-right:1px solid red;
	min-width: 300px;
	width: 320px;
	float: left;
	height: 100% !important;
	background: #D3D3D3;
}

.panel-left{
	background-color: red;	
	width: 300px;
	height: 100%;
}

.tb-aulas-prontas td{
	width: 100px !important;
	height: 50px !important;
}

.tb-aulas-prontas table tr, td, th {
	font-size: 10px;
	text-align: left !important;
	padding: 2px !important;
}

.tb-aulas-prontas table {
	width: 300px !important;
}

.segundo {
	width: 100%;
	height: 40%;
}

.ui-datagrid-column {
	padding: 0px !important;
}

 .ui-fieldset {
	padding: 5px;
	width: 300px !important;
	border: 1px solid red !important;
}

.ui-scrollpanel-container {
	width: 100% !important;
	height: 90% !important;
}

.aulasFormadas .ui-panel{
	height: 150px;
}


.ui-tabs{
	border: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	float: left !important;
}

.drop{
	margin-top:5px;
	border: 1px solid red !important;
}

.ui-panel .ui-panel-titlebar{
	background: #DA251C;
	color: white;	
}

.ui-panel .ui-panel-title{
	margin: 0px !important;
}

.ui-widget-header{
	text-shadow: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default{
	background: #DA251C;
	color: white;
	text-shadow: none !important;
}

.ui-tabs .ui-tabs-panel{
	border: #DA251C !important;
	margin-top: 50px !important;
}

.lixeira{
	height: 100px;
	bottom: 15px;
	position: fixed;
}

.salas{
	height: 100%;
	width: calc(100% - 330px);
	float: right;
}

.salas .ui-fieldset{
	height: 80px;
	border: 2px solid #DA251C !important; 
}

.ui-state-hover, .ui-widget-content .ui-state-hover{
	background: #DA251C;
	color: white;
	box-shadow: 0 0 8px #DA251C;
}

.ui-state-focus, .ui-widget-content .ui-state-focus{
	border: 1px #DA251C !important;
}

.salas .ui-widget-content{
	border: 0px;
}