body{
	margin: 0px;
}

.center {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu .imagens{
	width: 175px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16.5px 16px;
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #DA251C;
}

.menu {
    background-color: #1C1C1C;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

#form {
	width: 100%;
	height: 100%;
}

.menu #btSair{
	float: left;
	border-top: 0px;
    border-right: 2px solid #DA251C;
}

.menu #btDist{
	border-top: 0px;
    border-right: 2px solid #DA251C;
	border-left: 0px;
}

.imagens{
	width: 350px;
	heigth: 350px;
}

.ui-widget-content .ui-inputfield{
	background: white !important;
	color: black !important;
}

.aulasFormadas {
	min-width: 300px;
	width: 300px;
	float: left;
	height: 200px !important;
}

.ui-tabs {
	position: static;
	width: 1013px !important;
	height: 90% !important;
	padding: 10px;
	margin-left: 50px !important;
}

.tb-aulas-prontas td{
	width: 100px !important;
	height: 50px !important;
}

.tb-aulas-prontas table tr, td, th {
	font-size: 10px;
	text-align: left !important;
	padding: 2px !important;
}

.tb-aulas-prontas table {
	width: 300px !important;
}

.segundo {
	width: 100%;
	height: 40%;
}

.ui-datagrid-column {
	padding: 0px !important;
}

.ui-fieldset {
	height: 75px !important;
	padding: 10px;
	width: 300px !important;
}

.ui-scrollpanel-container {
	width: 100% !important;
	height: 90% !important;
}

.ui-panel{
	height: 150px;
}

form{
	background: #D3D3D3;
}

.ui-tabs{
	background: #1C1C1C;
	border: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	float: left !important;
}

.drop{
	height: 160px !important;
}